body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* Header */
.portfolio--header {
  display: flex;
  align-items: center;
  height: 65px;
  height: 10vh;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.link {
  margin-left: auto;
  text-decoration: none;
}
.link > a {
  text-decoration: none;
  color: white;
}
